<h3>Posts</h3>
<ul class="blog-list">
    <% for (let blogPost of blogPosts) { %>
      <li class="blog-list-item"><a href="/family-member/<%=profile.pname%>/blog/<%=blogPost.slug%>">
          <%=blogPost.title%>
        </a></li>
      <% } %>
  </ul>
  <a href="/family-member/<%=profile.pname%>/blog/">See all posts</a>