<header class="pt-5 mb-5">
  <div class="row justify-content-between">
    <div class="col-md-4">
      <button class="btn menu-ctrl" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuCtrl"
        aria-controls="menuCtrl">
        <i class="bi bi-list"></i>
      </button>
    </div>
    <div class="col-md-4 text-center">
      <div class="position-relative m-auto">
        <h1>The Porter Family</h1>
        <h2>- Est. 2010 -</h2>
        <a href="/" class="stretched-link"></a>
      </div>
    </div>
    <div class="col-md-4 text-center text-md-end">
      <p style="line-height: 1.5rem; margin-bottom: .75rem;"><small>Help Georgia and Evie <br>save for college!</small></p>
      <a class="btn btn-primary btn-sm" href="/college-savings">Learn how</a>
    </div>
  </div>
  <%- include('../partials/nav', { profile: profile }) %>
</header>