<header>
  <button class="btn menu-ctrl position-absolute" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuCtrl"
    aria-controls="menuCtrl">
    <i class="bi bi-list"></i>
  </button>
  <div class="text-center my-5">
    <div class="position-relative w-75 m-auto">
      <h1>The Porter Family</h1>
      <p class="text-body-secondary">
        <i class="bi bi-info-circle"></i> This will become our family website.
      </p>
      <a href="/" class="stretched-link"></a>
    </div>
  </div>
  <%- include('../partials/nav') %>
</header>