@import "variables.scss";
@import "breakpoints.scss";
@import "rte.scss";

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Merriweather:ital,wght@0,300;0,700;1,300;1,700&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,400;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

body {
  color: $cream;
  background-color: $prblue;
  font-family: $font-sans-serif;
  font-size: 1.2rem;

  p {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .logout-message {
    background-color: $cream;
    color: $prblue
  }

  #jokeDisplay {
    p {
      background-color: $prblue;
      font-family: $font-display;
      font-size: 1.5rem;
      padding: 30px;
      width: 50%;
      margin: 20px auto;
    }
  }

  .profile-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 0 20%;
  }

  article {
    h2 {
      a {
        text-decoration: none;
      }
    }

    p {
      &:first-child {

        //DROP CAP
        &:first-letter {
          text-transform: capitalize;
          color: $madder;
          float: left;
          font-family: $font-serif;
          font-size: 68px;
          line-height: 35px;
          padding-top: 20px;
          padding-right: 8px;
        }
      }
    }

    img {
      float: left;
      max-width: 50% !important;
      display: block;
      margin-right: 1.5rem;

      @media screen and (max-width: 480px) {
        float: none;
        max-width: 100%;
        margin: 0 auto;
        padding-bottom: 1rem;
      }
    }
  }

  pre,
  code {
    border: 1px #999 dotted;
    background-color: #222;
    color: olivedrab;
    overflow: auto;
    padding: 0.5em 0.75em;
  }

  a {
    color: $jonquil;

    &[target="_blank"] {
      &:after {
        content: '\F1C5';
        font-family: bootstrap-icons;
        padding-left: 3px;
        vertical-align: super;
        zoom: .7;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }

  .offcanvas {
    background-color: $indigodye;
    color: $cream;

    a {
      color: $cream;

      li {
        border-top: solid thin $indigodye;
        border-bottom: solid thin $indigodye;

        &:hover {
          border-top: solid thin $prblue;
          border-bottom: solid thin $prblue;
        }
      }

      .family-nav-list {
        padding-left: 5px;
      }
    }
  }



  .alert {
    margin-top: 0.5rem;
    margin-bottom: -2rem;

    &.alert-success {
      background-color: $dkspgreen-hover;
      border-color: $dkspgreen-hover;
      color: $cream;
    }
  }

  ol,
  ul {
    &.blog-list {
      padding-left: 1.5rem;
    }

    li {
      list-style-position: inside;

      &.blog-list-item {
        list-style-position: outside;
        margin-left: 0;
        padding-left: 0;
      }
    }
  }

  h1,
  h2,
  .h1,
  .h2 {
    font-family: $font-serif;
  }

  .btn-primary {
    color: $cream;
    background-color: $dkspgreen;
    border-color: $dkspgreen;

    &:hover,
    &:focus,
    &:active {
      background-color: $dkspgreen-hover;
      border-color: $dkspgreen-hover;
    }
  }

  .btn-info {
    background-color: $jonquil;
    border-color: $jonquil;

    &:hover,
    &:focus,
    &:active {
      background-color: $jonquil-hover;
      border-color: $jonquil-hover;
    }
  }

  .btn-danger {
    background-color: $madder;
    border-color: $madder;

    &:hover,
    &:active {
      background-color: $madder-hover;
      border-color: $madder-hover;
    }
  }

  .menu-ctrl {
    color: $cream;
    font-size: 2rem;
  }
}