//----Variables----

//Fonts
$font-serif: 'Merriweather', serif;
$font-sans-serif: 'Source Sans 3', sans-serif;
$font-display: 'Bungee Spice', cursive;

//Colors
$prblue: #032B43;
$indigodye: #053E61;
$cream: #F6FFF8;
$argblue: #5AA9E6;
$madder: #A41623;
$viridian: #498467;
$slategray:#637792;
$jonquil: #ECC30B;
$dkspgreen: #226f54;

$prblue-hover: rgba($prblue, .7);
$indigodye-hover: rgba($indigodye, .7);
$cream-hover: rgba($cream, .7);
$argblue-hover: rgba($argblue, .7);
$madder-hover: rgba($madder, .7);
$viridian-hover: rgba($viridian, .7);
$slategray-hover:rgba($slategray, .7);
$jonquil-hover: rgba($jonquil, .7);
$dkspgreen-hover: rgba($dkspgreen, .7);