//----Variables----

//Fonts
$font-serif: 'Merriweather', serif;
$font-sans-serif: 'Source Sans 3', sans-serif;
$font-display: 'Bungee Spice', cursive;

//Colors
$prblue: #032B43;
$cream: #F6FFF8;
$argblue: #5AA9E6;
$sienna: #DE7C5A;
$viridian: #498467;

$prblue-hover: rgba($prblue, .7);
$cream-hover: rgba($cream, .7);
$argblue-hover: rgba($argblue, .7);
$sienna-hover: rgba($sienna, .7);
$viridian-hover: rgba($viridian, .7);