<% layout('/layouts/boilerplate') %>
    <h2>College is expensive!</h2>
    <div class="row">
        <div class="col-sm-6 my-2">
            <img class="img-responsive img-thumbnail" src="/img/savings.webp" alt="">
        </div>
        <div class="col-sm-6">
            <div class="row">
                <p>Georgia and Evie are each enrolled in a <a
                        href="https://www.idsaves.org/home/features-and-benefits/529-basics.html" target="_blank">529
                        plan</a> for college savings. These funds are invested specifically to be used
                    for education-related expenses and provide <a
                        href="https://www.idsaves.org/home/features-and-benefits/tax-benefits.html" target="_blank">tax
                        benefits</a> for both the donor and beneficiary.</p>
                <p>Just go to <a href="https://www.ugift529.com/">ugift529.com</a> and enter each girl's unique gift code to add
                    money to
                    their account. An investment in their education is a gift that will last a lifetime.</p>
            </div>
            <div class="row text-center my-4">
                <div class="col">
                    <h3>Georgia</h3>
                    <p>Ugift code: <strong>203-22A</strong></p>
                </div>
                <div class="col">
                    <h3>Evie <small>(Evangeline)</small></h3>
                    <p>Ugift code: <strong>50K-96P</strong></p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <a class="btn btn-primary" href="https://www.ugift529.com/" target="_blank">Contribute through Ugift
                        <i class="bi bi-box-arrow-up-right ms-2"></i></a>
                </div>
            </div>
        </div>

    </div>