<% layout('/layouts/boilerplate') %>
<main>
  <section>
    <div class="text-center">
      <img src="/img/familyprofile.webp" class="img-thumbnail" width="900" alt="">
      <div class="m-5 px-5">
        <h2>Our story</h2>
        <p>
          It all goes back to that fateful winter night in Rexburg, Idaho when 
          Tami and Eric met up to get hot cocoa and hang out "one last time" before Tami left to 
          complete her student teaching. As we sat chatting on a bench in the crisp, cold air, 
          something sparked between the two and set them on the path to spending their lives together.
        </p>
        <p>
          In due time, along came their two daughters, each a firebrand, an artist, and a fierce 
          friend in their respective ways. Life has never slowed down.
        </p>
      </div>
    </div>
  </section>
  <section>
    <div class="row text-center">
      <% for (profile of profiles) { %>
        <div class="col-sm-6 col-md position-relative my-3">
          <h2>
            <%= profile.name %>
          </h2>
          <img src="<%= profile.image %>" class="img-thumbnail profile-img" alt="" />
          <a href="/family-member/<%= profile.pname %>/" class="btn btn-primary stretched-link mt-3">Meet <%= profile.name %></a>
        </div>
        <% } %>
    </div>
  </section>
</main>